{% load deldichoalhecho %}
{% load i18n %}
<div id="{{ category.slug }}" class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">
      	{{ category }}
	      
      	<span class="read-more">
      		{% blocktrans with promises_count=category.promises.count %}{{ promises_count }} promises{% endblocktrans%} {% include "category_summary.html" with summary=category.promises.all.summary %}
      	</span>
      </h3>
      <div class="progress">
	    <div class="progress-bar {% include "progress-color.html" with progress=category.fulfillment_percentage %}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{category.fulfillment_percentage}}%;">
		    {{category.fulfillment_percentage}}%
	    </div>
	  </div>
  </div>
  <div id="category_{{category.slug}}" class="category-body">
      <div class="panel-body">
		    {% for promise in category.promises.all %}
		    {% include "promise_in_list.html" with promise=promise %}		      	
		    {% endfor %}
	    </div>
	</div>
</div>
