{% load staticfiles %}
{% load deldichoalhecho %}
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

<title>{{ config.LANDING_PHRASE }}</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link href="{% static "fonts/font-awesome-4.0.3/css/font-awesome.min.css" %}" rel="stylesheet" >
<link href="{% static "main.css" %}" rel="stylesheet">
<link href="{% static "edicion2015.css" %}" rel="stylesheet">
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="{% static "jquery.expander.min.js" %}"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
<meta property="og:title" content="{{ config.LANDING_PHRASE }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://{{request.get_host}}{{ request.path }}" />
<meta property="og:image" content="{{ config.OG_IMAGE }}" />
<meta property="og:description" content="{{ config.DESCRIPTION_PHRASE }}" />
