{% extends "base.html" %}
{% load deldichoalhecho %}
{% load i18n %}
{% block content %}
<div class="jumbotron">
  {% include "jumbotron.html" %}
  <div class="category-menu">
    <div class="container">
      <ul class="list-inline">
        {% for category in categories  %}
        <li><a href="{% url 'promises_home' %}#{{ category.slug }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
      <div class="pull-right">Revisa el <a href="https://docs.google.com/a/votainteligente.cl/document/d/1VRfCD9xDzvbOfJpnjHqUdnFtFeQ1akxix_ZQxP6EyOM/edit" target="_blank">informe</a> y la <a href="https://docs.google.com/a/votainteligente.cl/spreadsheets/d/1ejBFuK087wsuvi2eFn00IzfcNKlPJtO1WbjDBmv8tb0/edit" target="_blank">base de datos.</a></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="panel-group" id="categories">
  {% for category in categories%}
    {% include "category_in_list.html" with category=category %}
  {% endfor %}
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.category-body').expander({
    expandText: '<p class="text-center category-expander"><i class="fa fa-chevron-down"></i></p>',
    userCollapseText: '<p class="text-center category-expander"><i class="fa fa-chevron-up"></i></p>',
    slicePoint: 260,
    expandPrefix:     '', 
  });
});
</script>

{% endblock content %}
