{% load i18n %}
{% load markdown_deux_tags %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">{{promise.name}}</h4>
</div>
<div class="modal-body">
  {{promise.fulfillment.description|markdown}}
  <h4>
    {% trans "Milestones" %}
  </h4>
  <ul>
    {% for milestone in promise.milestones.all %}
    <li><span>{{ milestone.date }}</span>{{ milestone.description|markdown }}</li>
    {% endfor %}
  </ul>
</div>
