{% load i18n %}
<div class="container">
	<ul class="list-inline">
		{% comment %}Translators: Small summary at the top{% endcomment %}
		<li class="accomplished">{% blocktrans with percentage=summary.accomplished_percentage|floatformat %}Completed <strong>{{percentage}}%</strong>{% endblocktrans %}</li>
		{% comment %}Translators: Small summary at the top{% endcomment %}
		<li class="half-accomplished">{% blocktrans with percentage=summary.in_progress_percentage|floatformat %}In progress <strong>{{percentage}}%</strong>{% endblocktrans %}</li>
		{% comment %}Translators: Small summary at the top{% endcomment %}
		<li class="not-accomplished">{% blocktrans with percentage=summary.no_progress_percentage|floatformat %}No progress <strong>{{percentage}}%</strong>{% endblocktrans %}</li>
	</ul>
</div>
<!--{{summary.total_progress|stringformat:"f"}} -->
<div class="progress">
	<div class="progress-bar progress-bar-success" style="width: {{summary.accomplished_percentage|stringformat:"f"}}%"></div>
	<div class="progress-bar progress-bar-warning" style="width: {{summary.in_progress_percentage|stringformat:"f"}}%"></div>
	<div class="progress-bar progress-bar-danger" style="width: {{summary.no_progress_percentage|stringformat:"f"}}%"></div>
</div>
