<!DOCTYPE html>
{% load staticfiles %}
{% load deldichoalhecho %}
{% load i18n %}
<html lang="es">
	<head>
		<meta charset="utf-8">
        	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="{% static 'deldichoalhecho/images/favicon.ico' %}">

		<title>{{ config.LANDING_PHRASE }}</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link href="{% static "deldichoalhecho/fonts/font-awesome-4.0.3/css/font-awesome.min.css" %}" rel="stylesheet" >
		<link href="{% static "deldichoalhecho/main.css" %}" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script src="{% static "deldichoalhecho/jquery.expander.min.js" %}"></script>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
	<!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#">{{ config.LANDING_PHRASE }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="../navbar/">Default</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


	<div class="container">
		{% block content %}
		{% endblock content %}
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</div>
	</body>
</html>
