<!DOCTYPE html>{% load staticfiles %}
{% load deldichoalhecho %}
{% load i18n %}
<html lang="es">
	<head>
		<meta charset="utf-8">
        	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="{% static 'deldichoalhecho/images/favicon.ico' %}">

		<title>{{ config.LANDING_PHRASE }}</title>

		<!-- Bootstrap -->
		<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "deldichoalhecho/main.css" %}" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
	<h1>{{ config.LANDING_PHRASE }}</h1>
	<div class="container">	
		{% block content %}
		{% endblock content %}
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="{% static "jquery/jquery.min.js" %}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	</body>
</html>
