{% extends "base.html" %}
{% load deldichoalhecho %}
{% block content %}
<ul>
{% for category in categories%}
    <li>{{ category }}</li>
    <div class="progress">
	    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{category.fulfillment_percentage}}%;">
		    {{category.fulfillment_percentage}}% completado
	</div>
    </div>
    Promesas:
    <ul>
	    {% for promise in category.promises.all %}
	    <div>
		    <p>{{promise.name}} hecha por {{promise.person.name}}</p>
	    	    <span>{{promise.description}}</span>
		    <div class="{{ promise.fulfillment|simple_accomplishment }}"> (Cumplido el {{promise.fulfillment.percentage}}%)</div>
		    <br />
		    {% if promise.information_sources.all %}
		    Fuentes:
		    <ul>
		    	{% for information_source in promise.information_sources.all %}
		    		<li><a href="{{information_source.url}}">{{information_source.display_name}}</a></li>
		    	{% endfor %}
	    	    </ul>
		    {% endif %}
		    {% if promise.verification_documents.all %}
		    Documentos de verificación:
		    <ul>
			    {% for document in promise.verification_documents.all %}
			    <li><a href="{{document.url}}">{{document.display_name}}</a></li>
			    {% endfor %}
		    </ul>
		    {% endif %}
            </div>
	    {% endfor %}
    </ul>
{% endfor %}
</ul>
{% endblock content %}
