{% load deldichoalhecho %}
{% load i18n %}
<div class="promise row panel {% for tag in promise.tags.all %}{% for extracss in tag.extracss.all %}{{extracss.classes}}{% if not forloop.last %} {% endif %}{% endfor %}{% endfor %}">
  <div class="col-md-1 clearfix">
  	<div class="status {{ promise.fulfillment|simple_accomplishment }}">
	</div>
  </div>
  <div class="col-md-8 promise-description">
  	<div>
      <span class="promise-description">
  			{{promise.description}}
  		</span>
  	</div>
	<div class="promise-details">
		{% include "promise_details.html" with promise=promise %}
	</div>
  </div>
  <div class="col-md-3 verification-document {{ promise.fulfillment|simple_accomplishment }}">
	  {% include "verification_documents.html" with promise=promise %}
  </div>
</div>