{% load i18n %}

<div class="progress summary-progress" data-container="body" data-html="true" data-toggle="popover" data-placement="top" data-content="<i class='fa fa-check'></i> <strong>{{summary.accomplished|floatformat}}</strong> promesas cumplidas</br> <i aria-hidden='true' data-icon='&#xe600;'></i> <strong>{{summary.in_progress|floatformat}}</strong> promesas incompletas</br><i class='fa fa-times'></i> <strong>{{summary.no_progress|floatformat}}</strong> promesas sin avance</br> Revisa la <a href='http://deldichoalhecho.cl/index.html'>metodología</a>">
	<div class="progress-bar {% include "progress-color.html" with progress=summary.total_progress %}" style="width: {{summary.total_progress|stringformat:"f"}}%"><p>{{summary.total_progress|floatformat}}% de cumplimiento</p></div>
</div>

<script type="text/javascript">
	$(function(){
		$('.summary-progress').popover(
			)
	})
</script>
