{% load deldichoalhecho %}
{% load i18n %}
<p>{{ promise.fulfillment.percentage }}% de cumplimiento
  {% if promise.description and promise.verification_documents.all %}
  <a data-toggle="modal" data-target="#modal-{{promise.id}}" href="{% url 'promise' pk=promise.pk %}">{% trans "Read more" %}</a>
  {% endif %}
</p>
<div id="modal-{{promise.id}}" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content b-color">
      ...
    </div>
  </div>
</div>

<div class="verification-docs">
  {% if promise.verification_documents.all %}
    {% trans "Documentos de verificación" %}:
        <ul>
            {% for document in promise.verification_documents.all %}
            <li><a href="{{document.url}}" target="_blank">{{document.display_name|truncatechars:20}}</a></li>
            {% endfor %}
        </ul>
  {% endif %}
</div>
