Django==1.6.2
gunicorn==18.0
dj-database-url==0.2.2
dj-static==0.0.5
psycopg2==2.5.2
django-nose
south==0.8.4
django-extensions
ipython
-e git://github.com/mysociety/popit-django.git#egg=popit-django
-e git://github.com/ciudadanointeligente/django-popolo.git@unicodes#egg=django-popolo
-e git://github.com/alex/django-taggit.git#egg=django-taggit
-e git://github.com/comoga/django-constance.git#egg=django-constance
django-picklefield
django-annoying
django-markdown-deux