Django==1.8.2
gunicorn==18.0
dj-database-url==0.2.2
dj-static==0.0.6
psycopg2==2.5.2
django-nose
django-extensions
ipython
-e git://github.com/openpolis/django-popolo.git#egg=django-popolo
-e git://github.com/alex/django-taggit.git#egg=django-taggit
-e git://github.com/ciudadanointeligente/ddah-promises.git#egg=ddah_promises
django-constance==1.1.1
django-picklefield
django-annoying
django-markdown-deux
django-admin-sortable
newrelic
