{% load staticfiles %}
<div class="hero-space">
  <div class="container">
    <img src="{% static "img/header.png" %}">
  </div>
    {% include "summary.html" with summary=summary %}
  <div class="container">
    <div class="ribbon">
      <h1>100 días, 56 promesas</h1>
      <div class="socialnetwork-home">
        <ul class="social-network list-inline">
        <li>
        <a href="#" onclick="window.open(&quot;https://twitter.com/share?url=http://deldichoalhecho.cl/&amp;via=ciudadanoi&amp;hashtags=56promesasBachelet&amp;text=Paso a paso medimos su cumplimiento.&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
        <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
        </a>
        </li>
        <li>
        <a href="#" onclick="window.open(&quot;https://www.facebook.com/sharer/sharer.php?u=http://deldichoalhecho.cl/&quot;,&quot;facebook&quot;,&quot;width=450, height=250&quot;)">
        <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
        </a>
        </li>
        </ul>
      </div>
    </div>
    <h2>Bienvenido al sitio de monitoreo y rendición de cuentas de Ciudadano Inteligente.</br>
A continuación encontrarás la medición del cumplimiento de las 56 promesas de los 100 primeros días de la Presidenta Bachelet.</h2>
  </div>
</div>