{% load staticfiles %}
<div class="hero-space">
  <div class="container">
    <img src="{% static "img/header.png" %}">
  </div>
    {% include "summary.html" with summary=summary %}
  <div class="container">
    <div class="ribbon">
      <h1>100 días, 56 promesas</h1>
    </div>
    <h2>Bienvenido al sitio de monitoreo y rendición de cuentas de Ciudadano Inteligente.</br>
A continuación encontrarás la medición del cumplimiento de las 56 promesas de los 100 primeros días de la Presidenta Bachelet.</h2>
  </div>
</div>