{% load deldichoalhecho %}
{% load i18n %}
<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">
      	{{ category }}
	      
      </h3>
      <div class="progress">
	    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{category.fulfillment_percentage}}%;">
		    {{category.fulfillment_percentage}}%
	    </div>
	  </div>
  </div>
  <div id="category_{{category.slug}}" class="category-body">
      <div class="panel-body">
	    <ul>
		    {% for promise in category.promises.all %}
		    {% include "promise_in_list.html" with promise=promise %}		      	
		    {% endfor %}
	    </ul>
	    </div>
	</div>
</div>