/*GENERAL*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    background-color: #0F2356;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

a {
  color: #1795CF;
}

/*Hs*/

h1 {
  font-size: 48px;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  font-weight: 300;
}

h3.panel-title {
  font-size: 24px;
}

h3.title {
  float: left;
  margin: 5px 0 10px;
}

/*NAVBAR*/

.nav {
  float: right;
  margin: 5px 0px 0px;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: #08173A;
}

.nav>li>a {
  padding: 7px 15px;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #08173A;
  border-color: transparent;
}

.dropdown-menu {
  background-color: #0F2356;
  border: none;
}

.dropdown-menu>li>a {
  color: #FFF;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #08173A;
  color: #fff;
}

/*JUMBOTRON*/

.jumbotron {
  position: relative;
  padding: 0px;
  background-color: transparent;
}

.jumbotron:after {
  position: absolute;
  top: 100px;
  left: 0;
  color: #F8981D;
  text-align: center;
  width: 100%;
  font-size: 48px;
  font-weight: 300px;
  text-shadow: 0.5px 0.5px 1px rgba(11, 15, 61, 0.31);
}

/*MENU CATEGORIAS*/

.category-menu .list-inline {
  line-height: 39px;
}

.category-menu li a {
  background: #0F0F28;
  padding: 5px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
}

.category-menu li a:hover {
  background: #40BDF1;
}

/*PANEL*/

.panel {
  background-color: #0F0F28;
}

.panel-default {
  border-color: transparent;
}

.panel-default>.panel-heading {
  color: #FFF;
  background-color: #0F0F28;
  border-color: transparent;
}

p.text-center.category-expander {
  background-color: #1795CF;
  margin-bottom: 0px;
  color: #fff;

  /* Esto hace que se dibuje
   * el contenido de las promesas
   * medio oculto pero no está funcionando bien hasta ahora
   *
   * margin-top: -53px; */ 
}

/*PROGRESSBAR*/

.progress {
  height: inherit;
  background-color: #0F2356;
  border-radius: 0px;
  position: relative;
}

.progress-bar {
  font-size: 36px;
  text-align: right;
  background-color: #821E5F;
  font-weight: 300;
}

#categories .progress-bar {
  padding: 12px 5px;
}

.progress-bar-danger {
  background-color: #E53E3E;
  padding: 25px 0;
}

.progress-bar-warning {
  background-color: #AAC2CC;
  padding: 25px 0;
}

.progress-bar-success {
  background-color: #40BDF1;
  padding: 25px 0;
}


div.status.not-accomplished:before {
  font-family: FontAwesome;
  top: 0;
  content: "\f00d";
  font-size: 36px;
  color: #F0562C;
}

div.status.half-accomplished:before {
  position: absolute;
    font-family: FontAwesome;
    top:0;
    content: "\f056"; 
}
div.status.accomplished:before {
  position: absolute;
    font-family: FontAwesome;
    top:0;
    content: "\f058"; 
}
.promise-description {
  padding-left: 5px;
}
.promise-name {

}
div.verification-document.not-accomplished {
}
div.verification-document.half-accomplished {
}
div.verification-document.accomplished {
}
.category-percentage {

}
.progress { 
}

.summary span.promise-description:after {
  content: "...";
}

.b-color {
  background-color: #0F2356;
}

/*PROGRESSBAR LEGEND*/

li.accomplished {
  position: relative;
  margin: 0px 20px 0px 0px;
}

li.accomplished:before {
  content: "";
  height: 10px;
  width: 10px;
  background: #40BDF1;
  position: absolute;
  left: -10px;
  top: 5px;
  border-radius: 5px;
}

li.half-accomplished {
  position: relative;
  margin: 0px 20px 0px 0px;
}

li.half-accomplished:before {
  content: "";
  height: 10px;
  width: 10px;
  background: #AAC2CC;
  position: absolute;
  left: -10px;
  top: 5px;
  border-radius: 5px;
}

li.not-accomplished {
  position: relative;
  margin: 0px 20px 0px 0px;
}

li.not-accomplished:before {
  content: "";
  height: 10px;
  width: 10px;
  background: #E53E3E;
  position: absolute;
  left: -10px;
  top: 5px;
  border-radius: 5px;
}