/*JUMBOTRON*/

.hero-space {
  background: url(img/header-sides.png) repeat-x;
}

.popover-content {
  color: #0F0F28;
}

.ribbon {
  max-width: 530px;
  margin: 30px auto 0px;
  background: #FFF;
  padding: 1px 0px 10px;
  color: #40BDF1;
  position: relative;
  width: auto;
}

.ribbon h1 {
  font-size: 28px;
  text-align: center;
}

.ribbon:before {
  content: url(img/ribbon-before.png);
  position: absolute;
  left: -43px;
  bottom: -23px;
}

.ribbon:after {
  content: url(img/ribbon-after.png);
  position: absolute;
  right: -43px;
  bottom: -23px;
}

.hero-space h2 {
  font-weight: 300;
  text-align: center;
  margin: 70px 0;
}

.social-network {
  text-align: center;
  margin-bottom: -29px;
}

@media (max-width: 1200px) {

  .hero-space {
    background-image: url(img/header.png);
  }

  .hero-space h2 {
    font-size: 18px;
  }

  .jumbotron img {
    width: 100%;
    opacity: 0;
    height: 320px;
  }

  .ribbon {
    width: 35%;
  }

}

@media (max-width: 1000px) {

  .hero-space {
    background-image: url(img/header-m.png);
  }

  .ribbon {
    width: 50%;
  }

}

@media (max-width: 800px) {
  .hero-space {
    background-image: url(img/header-s.png);
  }

  .ribbon {
    width: 70%;
  }
}

@media (max-width: 400px) {

  .hero-space {
    background-image: url(img/header-xs.png);
  }

  .summary-progress p {
    font-size: 24px;
  }

  .ribbon h1 {
    font-size: 24px;
  }

  .category-menu {
    display: none;
  }

  .hero-space h2 {
    margin: 50px 0 10px;
  }
}