div.status.not-accomplished:before {
	position: absolute;
    font-family: FontAwesome;
    top:0;
    content: "\f057";
}
div.status.half-accomplished:before {
	position: absolute;
    font-family: FontAwesome;
    top:0;
    content: "\f056"; 
}
div.status.accomplished:before {
	position: absolute;
    font-family: FontAwesome;
    top:0;
    content: "\f058"; 
}
.promise-description {
	padding-left: 5px;
}
.promise-name {

}
div.verification-document.not-accomplished {
}
div.verification-document.half-accomplished {
}
div.verification-document.accomplished {
}
.category-percentage {

}
.progress {	
}