.jumbotron:after {
  position: absolute;
  content: 'El desastre pasa, la reconstrucción recién comienza.';
  top: 100px;
  left: 0;
  color: #F8981D;
  text-align: center;
  width: 100%;
  font-size: 48px;
  font-weight: 300px;
  text-shadow: 0.5px 0.5px 1px rgba(11, 15, 61, 0.31);
}